[Unit]
Description=Cliphist image watcher
After=wayland-session.target

[Service]
ExecStart=/usr/bin/wl-paste --type image --watch cliphist store
Restart=on-failure

[Install]
WantedBy=wayland-session.target
