[Unit]
Description=Hyprpaper
After=wayland-session.target

[Service]
ExecStart=/usr/bin/hyprpaper
Restart=on-failure

[Install]
WantedBy=wayland-session.target
