[Unit]
Description=Hyprpaper
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/hyprpaper
Restart=on-failure

[Install]
WantedBy=graphical-session.target
