[Unit]
Description=Engage the Quickshell lock screen
PartOf=lock.target
After=quickshell-locker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/quickshell --path %h/.config/quickshell/lock.qml ipc call lock lock

[Install]
WantedBy=lock.target
