[Unit]
Description=Quickshell
After=wayland-session.target

[Service]
ExecStart=/usr/bin/quickshell
Restart=on-failure

[Install]
WantedBy=wayland-session.target
