[Unit]
Description=Udiskie automounter
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie
Restart=on-failure

[Install]
WantedBy=graphical-session.target
