[Unit]
Description=Udiskie automounter
After=wayland-session.target

[Service]
ExecStart=/usr/bin/udiskie
Restart=on-failure

[Install]
WantedBy=wayland-session.target
