!.gitignore

favicons.sqlite
favicons.sqlite-wal
places.sqlite
places.sqlite-wal
key4.db
lock
protections.sqlite
sessionstore-backups/**
storage/**
cookies.sqlite
cookies.sqlite-wal
SiteSecurityServiceState.bin
AlternateServices.bin
content-prefs.sqlite
datareporting/**
prefs.js
sessionCheckpoints.json
storage.sqlite
