favicons.sqlite
favicons.sqlite-wal
places.sqlite
places.sqlite-wal
key4.db
lock
permissions.sqlite
protections.sqlite
sessionstore-backups/**
storage/**
SiteSecurityServiceState.bin
AlternateServices.bin
