*
/*/
!/.config/
!/.config/*/
!/.config/nvim/*/
!/.config/nvim/lua/**
!/.config/nvim/vim/**
!/.config/nvim/plugin/**
!/.config/nvim/init.lua
!/.config/alacritty/**
!/.config/gtk-3.0/**
!/.config/hypr/**
!/.config/waybar/**
!/.config/dunst/**
!/org/
!/org/*/
!/org/**
!.gitignore
!.bashrc
!.bash_profile
