*
/*/
!/.config/
!/.config/*/
!/.config/picom.conf
!/.config/i3/**
!/.config/nvim/*/
!/.config/nvim/lua/**
!/.config/nvim/plugin/**
!/.config/nvim/init.lua
!/.config/alacritty/**
!/.config/nitrogen/**
!/.config/gtk-3.0/**
!/.config/polybar/**
!/.config/awesome/**
!.gitignore
!.bashrc
!.bash_profile
!.xinitrc
