* {
  all: unset;
}

@mixin default {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
  color: #e0def4;
  background-color: #232136;
  opacity: 0.9;
}

window {
  @include default;
}

calendar {
  @include default;
}

.left-section {
  @include default;
  color: #f6c177;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  background-color: #353357;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.center-section {
  color: #e0def4;
}

.right-section {
  @include default;
  color: #a3be8c;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: #353357;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.music {
  color: #569fba;
}

.volume-widget {
  color: #b1d196;
}

.volume-slider {
  @include default;
}

.volume-slider scale trough highlight {
  background-color: #b1d196;
  border-radius: 8px;
}

.volume-slider scale trough {
  background-color: #8da975;
  border-radius: 8px;
  min-width: 180px;
  min-height: 10px;
}

.discharging {
  color: #eb6f92;
}

.battery-progress {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wifi {
  margin-right: 5px;
}

.separator {
  color: #e0def4;
}
